{% extends "layout.html" %}

{% block content %}
<form action="/calculate" method="post">
<div class="row">
    <div class="col-md-6">
        <h3>IMAX</h3>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <img src="static\images\usa_night_smartgrid_hr.jpg" alt="...">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h3>WHERE WE DROPPIN?</h3>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="city_1">STARTING CITY</label>
                    <select class="form-control" id="city_1" name="city_1">
                        <option value="1">select</option>
                        <option value="2">New York City</option>
                        <option value="3">Los Angeles</option>
                        <option value="4">Chicago</option>
                        <option value="5">Dallas</option>
                        <option value="6">Houston</option>
                        <option value="7">San Francisco</option>
                        <option value="8">Washington DC</option>
                        <option value="9">Philadelphia</option>
                        <option value="10">Atlanta</option>
                        <option value="11">Miami</option>
                        <option value="12">Phoenix</option>
                        <option value="13">Boston</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="city_2">DESTINATION CITY</label>
                    <select class="form-control" id="city_2" name="city_2">
                        <option value="1">select</option>
                        <option value="2">New York City</option>
                        <option value="3">Los Angeles</option>
                        <option value="4">Chicago</option>
                        <option value="5">Dallas</option>
                        <option value="6">Houston</option>
                        <option value="7">San Francisco</option>
                        <option value="8">Washington DC</option>
                        <option value="9">Philadelphia</option>
                        <option value="10">Atlanta</option>
                        <option value="11">Miami</option>
                        <option value="12">Phoenix</option>
                        <option value="13">Boston</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="index_buttons">
                <button type="submit" class="btn btn-primary" id="okay_button" disabled>OKAY</button>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6">
                <h5>Time Minutes: <span id="time_minutes"></span></h5>
            </div>
        </div>
    </div>
</div>

<script>
    const city1 = document.getElementById("city_1");
    const city2 = document.getElementById("city_2");
    const okayButton = document.getElementById("okay_button");
    
    function checkOptions() {
      if (city1.value === city2.value) {
        okayButton.disabled = true;
      } else {
        okayButton.disabled = false;
      }
    }
    
    city1.addEventListener("change", checkOptions);
    city2.addEventListener("change", checkOptions);
  </script>
{% endblock %}