{% extends 'layout.html' %}

{% block content %}

{% if selected_flight %}
    <h2>Selected Flight:</h2>
    <table>
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ selected_flight['flight_number'] }}</td>
                <td>{{ selected_flight['origin'] }}</td>
                <td>{{ selected_flight['destination'] }}</td>
                <td>{{ selected_flight['departure_time'] }}</td>
                <td>{{ selected_flight['arrival_time'] }}</td>
                <td>{{ selected_flight['price'] }}</td>
            </tr>
        </tbody>
    </table>
{% else %}
    <p>No flight selected.</p>
{% endif %}

{% endblock %}
